<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>A decentralized peer-to-peer market where you can buy and sell goods listed on the blockchain.</p>
    <p class="btn-group">
        <a class="btn btn-default btn-lg" href="assets/papers/whitepaper.pdf">Whitepaper</a>
        <a class="btn btn-warning btn-lg" href="assets/papers/yellowpaper.pdf">Yellowpaper</a>
        <a class="btn btn-primary btn-lg" href="assets/papers/economic-paper.pdf">Economic-paper</a>
        <a class="btn btn-info btn-lg" href="assets/papers/terms-of-service.pdf">Terms-of-Service</a>
    </p>
</div>

<h2>What is ListBay?</h2>
<p class="lead">ListBay is an open source peer-to-peer market platform built on top of the Listcoin blockchain network.</p> 
        <p>ListBay plans to empower a decentralized marketplace for the exchange of products and services where cryptocurrency transactions can be facilitated transparently utilizing LIST network tokens.</p>
<h2>Building The Future of Free Markets</h2>
<p>Utilizing the crowd dynamic, all people can have access to open source technology building the future of free markets.</p>
<h2>Decentralized E-commerce</h2>
<p>Shops on the decentralized marketplace of the LIST network blockchain constitute the basic activities which facilitate the exchange of products and services in peer-to-peer barter.</p>
<p>Decentralization avoids the abuse of power from central authorities, it also avoids
        hierarchy. However, this comes at the cost of every participant taking on all
        the responsibility themselves individually; everyone is a developer, everyone
        is a user, everyone can be a node.</p>
        <p>The architecture, engineering, and deployment of the ListBay network
        is completely decentralized, this is radically different from the standard centralized model of e-commerce or the global markets themselves. Therefore
        there is no central authority collecting data on users in the network. There
        is no central authority able to take down a shop or force any user to follow their terms and conditions. The users themselves have total control of
        all their operations via the open-source software of the Listcoin blockchain
        protocol.</p>
<h2>How it works</h2>
<div class="well well-lg">
    <h3>Step 1</h3>
    <p class="lead">
        <img src="assets/drawing.svg" class="img-responsive" width="{{imgWidth/2}}" />
        Seller puts up a product or service for a certain price in LIST or equivalent cryptocurrency.
    </p>
</div>
<div class="well well-lg">
    <h3>Step 2</h3>
    <p class="lead">
        <img src="assets/drawing4.svg" class="img-responsive" width="{{imgWidth}}" />
        Buyer converts ETH or equivalent cryptocurrency to LIST by giving the service a fixed amount of ETH or equivalent cryptocurrency for a fixed amount of LIST.
    </p>
</div>
<div class="well well-lg">
    <h3>Step 3</h3>
    <p class="lead">
        <img src="assets/drawing5.svg" class="img-responsive" width="{{imgWidth}}" />
        The consumer now transacts with the merchant through a secure escrow process on the Listcoin blockchain network.
    </p>
</div>
<div class="well well-lg">
    <h3>Step 4</h3>
    <p class="lead">
        <img src="assets/drawing6.svg" class="img-responsive" width="{{imgWidth}}" />
        The seller may now liquidate his LIST into ETH or equivalent cryptocurrency through a secure decentralized exchange.
    </p>
</div>
<h2>Token voucher generation</h2>
<div class="well well-lg">
        <p class="lead">BAY tokens are built on <a href="https://github.com/ethereum/EIPs/issues/20">ERC20</a> blockchain technology.</p>
        <p> ListBay at first comprises of two cryptocurrencies. The token voucher:
                BAY is built on the Ethereum platform; the <a href="https://github.com/ethereum/EIPs/issues/20">ERC20</a> "Token Standard" utilizing
                <a href="https://github.com/ethereum/EIPs/issues/20">ERC20</a> "Wallet Support" and compatible blockchain technologies.
                The cryptocurrency: Listcoin (LIST) which is what BAY token vouchers will
                be redeemable for at a determined and set-upon economic pricing ratio
                upon the completion of the Listcoin blockchain network.</p>
                <p>The BAY token vouchers will allow the community to early adopt, and
                        begin the development and deployment of the Listcoin blockchain network and open source
                        user-end or developer software that will access peer-to-peer escrow, wallet, and shop market-making.</p> 
                        <p> Developers of the network economically
                        redeem BAY token vouchers to collect LIST at a pre-set ratio once the forthcoming Listcoin
                        blockchain technology software is built and launched.</p>
</div>